<div data-role="header" >

<%= link_to 'Regresar', denuncia_transitos_path, class: "ui-btn-right" %>
<%= link_to 'Ver', @denuncia_transito, class: "ui-btn-left"  %>

<h1>Editando Denuncia</h1>
</div>
<div data-role="content">
<%= render 'form' %>
</div>
