<div data-role="header">
<h1>Nueva Denuncia de Transito</h1>
<%= link_to 'Regresar', denuncia_transitos_path %>

</div>

<div data-role="content">
<%= render 'form' %>
</div>

<div data-role="footer" data-position="fixed">
	Denuncias 2014
	
</div>

