<div class="buscar">
                <%= form_tag representantes_path, :method => 'get' do %>
                  <div class="ui-field-contain">
                <%= select_tag :search, '<option>Elija un Estado</option>
                            <optgroup label="Occidente">
                                <option>Nayarit</option>
                                <option>Jalisco</option>
                                <option>Colima</option>
                                <option>Michoacán</option>
                            </optgroup>
                            <optgroup label="Oriente">
                                <option>Puebla</option>
                                <option>Veracruz</option>
                                <option>Tlaxcala</option>
                                <option>Hidalgo</option>
                            </optgroup>
                            <optgroup label="Noreste">
                                <option>Saltillo</option>
                                <option>Monterrey</option>
                                <option>Ciudad Victoria</option>
                            </optgroup>
                            <optgroup label="Sureste">
                                <option>Tabasco</option>
                                <option>Campeche</option>
                                <option>Quitana Roo</option>
                                <option>Yucatán</option>
                            </optgroup>
                            <optgroup label="Suroeste">
                                <option>Guerrero</option>
                                <option>Oaxaca</option>
                                <option>Chiapas</option>
                            </optgroup>
                            <optgroup label="Centronorte">
                                <option>Aguascalientes</option>
                                <option>Guanajuato</option>
                                <option>Querétaro</option>
                                <option>San Luis Potosí</option>
                                <option>Zacatecas</option>
                            </optgroup>
                            <optgroup label="Centrosur">
                                <option>Morelos</option>
                                <option>México</option>
                                <option>Distrito Federal</option>
                            </optgroup>'.html_safe %>
                        </div>
                       <p>
                        <%= submit_tag "Buscar", :name => nil %>
                      </p>
                <% end %>
        </div>