<div class="buscar">
                <form>
                    <div class="ui-field-contain">
                        <select name="select-native-4" id="select">
                            <option>Elija un Estado</option>
                            <optgroup label="Occidente">
                                <option> Nayarit </option>
                                <option> Jalisco </option>
                                <option> Colima </option>
                                <option> Michoacán </option>
                            </optgroup>
                            <optgroup label="Oriente">
                                <option> Puebla </option>
                                <option> Veracruz</option>
                                <option> Tlaxcala </option>
                                <option> Hidalgo </option>
                            </optgroup>
                            <optgroup label="Noreste">
                                <option> Saltillo </option>
                                <option> Monterrey</option>
                                <option> Ciudad Victoria </option>
                            </optgroup>
                            <optgroup label="Sureste">
                                <option> Tabasco </option>
                                <option> Campeche </option>
                                <option> Quitana Roo </option>
                                <option> Yucatán </option>
                            </optgroup>
                            <optgroup label="Suroeste">
                                <option> Guerrero </option>
                                <option> Oaxaca </option>
                                <option> Chiapas </option>
                            </optgroup>
                            <optgroup label="Centronorte">
                                <option> Aguascalientes </option>
                                <option> Guanajuato </option>
                                <option> Querétaro </option>
                                <option> San Luis Potosí </option>
                                <option> Zacatecas </option>
                            </optgroup>
                            <optgroup label="Centrosur">
                                <option> Morelos </option>
                                <option> México </option>
                                <option> Distrito Federal </option>
                            </optgroup>
                        </select>
                    </div>
                    <input type="button" class="ui-btn" data-icon="search" data-iconpos="right" value="Buscar" >
                </form>

        </div>